# ----------------------------
# Python
# ----------------------------
/back/blackjack/__pycache__/
/back/game_manager/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# ----------------------------
# Django
# ----------------------------
*.log
*.pot
*.pyc
*.sqlite3          # Database file
media/             # Uploaded files
/staticfiles/      # Collected static files

# Migrations (keep migrations themselves, ignore compiled files)
*/migrations/*.pyc
*/migrations/__pycache__/

# ----------------------------
# Virtual environments
# ----------------------------
venv/
env/
.mise/

# ----------------------------
# IDE / Editors
# ----------------------------
# VS Code
.vscode/

# PyCharm / JetBrains
.idea/

# ----------------------------
# OS-specific
# ----------------------------
# macOS
.DS_Store

# Linux
*.swp

# Windows
Thumbs.db
